<h1>@ViewBag.trail[0].Name</h1>
<h2>Description:</h2>
<h4 class="trail_data">@ViewBag.trail[0].Description</h4>
<h2>Trail Length:</h2>
<h4 class="trail_data">@ViewBag.trail[0].Length miles</h4>
<h2>Elevation Change:</h2>
<h4 class="trail_data">@ViewBag.trail[0].Elevation feet</h4>
